{extend name="public:layer_layout"/}

{block name="main"}
<form class="layui-form" id="form1">
    <div class="layui-row layui-col-space10 layui-form-item">
        <div class="layui-form-item">
            <label class="layui-form-label">上级节点：</label>
            <div class="layui-input-block">
                <input type="text" class="layui-input input-disable" disabled value="{$parentNode}">
                <input type="hidden" name="pid" value="{$pid}">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">节点名称：</label>
            <div class="layui-input-block">
                <input type="text" name="name" class="layui-input" placeholder="请输入节点名称" autocomplete="off" lay-verify="required" lay-reqText="节点名称不能为空">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">节点路径：</label>
            <div class="layui-input-block">
                <input type="text" name="path" class="layui-input" placeholder="控制器/方法" autocomplete="off" lay-verify="required" lay-reqText="节点路径不能为空">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">节点图标：</label>
            <div class="layui-input-block">
                <input type="text" name="icon" class="layui-input" id="icon" readonly placeholder="请选择节点图标" autocomplete="off">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">是否菜单：</label>
            <div class="layui-input-block">
                <input type="radio" name="is_menu" value="2" title="是" lay-verify="required">
                <input type="radio" name="is_menu" value="1" title="否" lay-verify="required" checked>
            </div>
        </div>
        <div class="layui-form-item layui-hide">
            <div class="layui-input-block">
                <button type="submit" class="layui-btn" id="submit" lay-submit lay-filter="submit">立即提交</button>
                <button type="reset" class="layui-btn layui-btn-primary" id="reset">重置</button>
            </div>
        </div>
</form>
{/block}

{block name="javascript"}
<script>
    layui.use(['form', 'jquery'], function () {
        var form = layui.form,
            $ = layui.$;

        $('#icon').on('click', function () {
            var index = layer.open({
                type: 2,
                title: '<i class="layui-icon layui-icon-radio"></i> 选择节点图标',
                area: ['505px', '350px'],
                content: ['{:url("node/icon")}', 'yes']
            });
        });

        form.on('submit(submit)',function(data){
            // 加载层
            var loading = layer.msg('处理中，请稍后...', {
                icon: 16,
                shade: 0.2
            });
            $.ajax({
                url: '{:url("doAdd")}',
                type: 'POST',
                dataType: 'json',
                data: $('#form1').serialize(),
                beforeSend: function(){},
                success: function(data){
                    layer.close(loading);
                    if (data.status == 1) {
                        layer.msg(data.message, {
                            time: 1500
                        },function(){
                            parent.window.location.reload();
                            var index = parent.layer.getFrameIndex(window.name); //获取窗口索引
                            parent.layer.close(index);
                        });
                    } else if (data.status == 2) {
                        layer.alert(data.message, {
                            icon: 0,
                            skin: 'layer-ext-moon'
                        }, function() {
                            window.location.reload();
                        });
                    } else if (data.status == 0) {
                        layer.alert(data.message, {
                            icon: 2,
                            skin: 'layer-ext-moon'
                        },function(){
                            window.location.reload();
                        });
                    }
                }
            });
            return false;
        });
    });
</script>
{/block}